// Parameters to set
params {

    /*
    * ----------------------------------------------------
    *  PARAMETERS THAT SHOULD BE SET/CHECKED FOR EACH USE
    * ----------------------------------------------------
    */
    assay_suffix = '_GLMethylSeq' // Suffix to append to output filenames

    // accession number (within quotes), or 'null' if providing your own runsheet specified next (no quotes if 'null')
    osdAccession = null
    gldsAccession = null

    // path to runsheet (in quotes) if doing a non-GLDS dataset, 
        // otherwise set to null (no quotes), and it will be generated based on
        // the provided gldsAccession argument above
    runsheet = null

    local_data = false

    outdir                      = '.'
    publish_dir_mode            = 'link'

    multiqc_config = "${projectDir}/config/multiqc.config"
    reference_table = "https://raw.githubusercontent.com/nasa/GeneLab_Data_Processing/refs/heads/master/GeneLab_Reference_Annotations/Pipeline_GL-DPPD-7110_Versions/GL-DPPD-7110-A/GL-DPPD-7110-A_annotations.csv"

    clip = 0
    non_directional = true
    nugen = false

    methRead_mincov = 2
    MethylDiff_difference = 1
    MethylDiff_qvalue = 0.5
}

// Load base.config by default for all pipelines
includeConfig 'config/base.config'

profiles {
    slurm {
        includeConfig 'config/default_slurm.config'
    }
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
        includeConfig 'config/by_docker_image.config'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        includeConfig 'config/by_docker_image.config'
    }
    gitpod {
        executor.name           = 'local'
        executor.cpus           = 4
        executor.memory         = 8.GB
    }
}

manifest {
    name            = 'NASA GeneLab Data Processing Methyl-Seq'
    homePage        = 'https://github.com/nasa/GeneLab_Data_Processing/tree/master/Methyl-Seq'
    description     = 'Methyl-Seq Pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '23.10.1'
    version         = '1.0.0'
}
